.btn
     {
        background-color: #89b100;
                   color:cornsilk;
                   border:none;
                   font-size:13px;
                   padding:7px;
                   margin-bottom: 20px;
                   width:90px;
                   
     }
   a{
   	  color:white;
   	  text-decoration:none;
   }  

   a:hover
   {
   	color:red;
   }

  .container {
  position: relative;
  text-align: center;
  color: white;
}

.center_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.back_img
  {
  	background-image: url(back_img.jpg);
  	background-size: cover;
  	background-attachment: fixed;
  }
  
